body {
    background: linear-gradient(rgba(242,242,242,1) 22%, rgb(98, 155, 191) 85%);
    background-attachment: fixed;
    display: flex;
}


.text {
    margin-left: -200px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(58, 56, 131);

}

h3 {
    padding-top: 60px;
    font-size: 30px;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 25px;
}

img {
    margin-top: -100px;
}

